@font-face {
  font-family: "iconfont"; /* Project id 3615630 */
  src: url('iconfont.woff2?t=1661738078037') format('woff2'),
       url('iconfont.woff?t=1661738078037') format('woff'),
       url('iconfont.ttf?t=1661738078037') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before {
  content: "\e66e";
}

.icon-gouwuche1:before {
  content: "\e633";
}

.icon-gouwucheman:before {
  content: "\e600";
}

.icon-sousuoanniu:before {
  content: "\e603";
}

.icon-icon-xiaomiguishu:before {
  content: "\e613";
}

